### create a notebook named model.ipynb.

### 1)run all your previous scripts that acquired, prepared, split, and scaled your data.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,explained_variance_score
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.linear_model import LinearRegression
from math import sqrt
import warnings
warnings.filterwarnings("ignore")
import statsmodels.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std

#import our scripts that do data science workflow
import wrangle
import split_scale_telco
import evaluate
import features

In [2]:
df=wrangle.wrangle_telco()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 1694
Data columns (total 4 columns):
customer_id        1685 non-null object
total_charges      1685 non-null float64
monthly_charges    1685 non-null float64
tenure             1685 non-null int64
dtypes: float64(2), int64(1), object(1)
memory usage: 65.8+ KB

In [3]:
train,test=split_scale_telco.split_my_data(df)

In [4]:
scaler, train_scaled, test_scaled=split_scale_telco.standard_scaler(train.drop(columns=['customer_id','total_charges']),test.drop(columns=['customer_id','total_charges']))

In [5]:
print(train_scaled)
print(test_scaled)

      monthly_charges    tenure
120         -0.349191  0.839851
1423        -1.184789 -1.700684
389          0.811120  0.839851
1137        -1.180459 -1.926509
1504        -1.036142  0.839851
438          0.646599  0.839851
571          1.102642 -0.232820
656          1.511060  0.726938
753          1.225311  0.839851
574          1.466321  0.839851
1215        -1.028926  0.839851
1053        -1.044801  0.501113
1131        -1.204993  0.726938
1253        -1.047687  0.839851
1031        -1.204993 -2.999179
772          1.490855 -0.006994
1402        -1.204993 -0.740926
516          0.461872  0.726938
1102        -1.047687  0.218831
1694        -1.199221 -0.628014
1086        -1.189119 -0.176363
1517        -1.040472  0.331744
133          0.336316  0.614025
1036        -1.193448  0.162375
72          -0.632053 -0.515101
551          0.513827  0.783394
1024        -1.053460 -0.289276
1432        -1.181903 -0.176363
895          0.669689  0.839851
1460        -1.106858 -0.853839
117          0.897711  0.839851
1115        -1.086653  0.275287
963         -1.190562 -0.515101
1553         0.715871  0.783394
1132        -1.049131 -0.063451
1019        -1.216539  0.049462
1683        -1.160255 -0.628014
607          0.548463 -0.063451
379          0.851529  0.614025
1112        -1.197778  0.839851
637          1.451890  0.388200
174          0.457543 -1.926509
858          1.232527  0.670482
279         -0.167351  0.049462
1533         0.675462  0.670482
1536         0.665360 -0.853839
892          1.581775  0.557569
1081        -1.030369  0.783394
1500        -1.210766  0.444656
1622         1.036256  0.783394
1430        -1.210766  0.331744
190          0.079431  0.105918
1301        -1.036142 -1.249033
1157        -1.036142 -2.886267
286          0.069329  0.839851
1226        -1.215096 -0.684470
1040        -1.079437  0.783394
356          0.583099  0.670482
311         -0.193329  0.388200
970         -1.186232 -0.628014
390          0.633610 -0.345732
683          1.451890  0.218831
84          -0.174567 -0.119907
353          0.772155  0.839851
1560         0.228078  0.726938
658          1.545696  0.839851
996         -1.186232  0.670482
1181        -1.200664 -0.063451
1225        -1.047687  0.105918
875          1.410038  0.839851
142          0.687007 -0.119907
413          0.725973  0.726938
1088        -1.204993 -0.515101
249          0.326214 -0.063451
143          0.093863  0.557569
602          1.147380  0.218831
688          1.405708  0.614025
1584        -0.431452 -1.249033
1064        -1.186232  0.105918
993         -1.209323 -1.531315
310          0.835654  0.839851
1195        -1.062119 -1.700684
911          1.332106  0.839851
675          1.349424  0.783394
620          1.293141  0.839851
...               ...       ...
1337        -1.054903  0.839851
945         -1.033256 -1.813597
51           0.059227 -0.176363
1547         0.711541  0.839851
1499        -1.067892  0.839851
535          0.376725  0.839851
1338        -1.015938 -1.587771
439          0.806791 -0.289276
542         -0.036023  0.670482
700          0.815450  0.162375
1390        -1.186232 -0.515101
1218        -1.036142  0.839851
560          1.154596  0.839851
1161        -1.196334  0.049462
955         -1.203550 -1.926509
364         -0.204874  0.839851
1277        -1.040472 -2.547529
259          0.150147 -0.853839
395          0.560008  0.726938
725          0.951108  0.839851
1186        -1.222312 -0.176363
376          0.075102 -0.289276
1693        -1.213652  0.557569
1616         1.272936  0.388200
1654        -1.066449  0.783394
160          0.417134  0.670482
416          0.790916  0.839851
1008        -1.044801 -2.208791
1304        -1.044801  0.444656
489          0.090977  0.839851
147         -0.458873 -1.136121
1427        -1.197778  0.839851
831          1.382617  0.839851
1452        -1.046244 -2.378160
848          1.617855  0.839851
581          1.106971 -0.628014
842          1.068005  0.726938
1687        -1.196334 -0.515101
593          1.233970  0.388200
294         -0.222192  0.162375
1445        -1.150153 -1.249033
867          1.365299  0.783394
215         -0.220749  0.839851
1391        -1.190562  0.275287
1212        -1.054903  0.839851
385          0.801018  0.614025
100         -0.085091  0.726938
1167        -1.170357 -1.813597
1208        -1.197778  0.783394
509          0.555679  0.501113
1593         1.655377  0.783394
601          1.275822  0.839851
1691        -1.040472  0.331744
39           0.382498  0.839851
345          0.352191  0.783394
2           -0.468975 -0.063451
456         -0.598860 -2.491072
1097        -1.177573 -0.119907
1241        -1.203550 -2.039422
613          1.098312  0.726938
425          0.705769  0.783394
1286        -1.044801  0.839851
851          1.366742  0.444656
1372        -1.040472 -0.458645
1443        -1.197778  0.670482
112          0.509497  0.839851
226         -0.558452  0.614025
947         -1.037585  0.783394
1578        -0.089420  0.501113
73          -0.229408 -0.006994
47           0.409918  0.726938
643          1.192118  0.331744
114          0.678348  0.726938
97           0.824109  0.839851
1247        -1.065006  0.218831
1603         1.511060  0.839851
1155        -1.203550  0.614025
107         -0.043238  0.444656
1629         1.143050  0.839851
1046        -1.034699  0.783394
1128        -1.209323  0.839851
1355        -1.209323 -0.232820
1415        -1.018824  0.670482
1398        -1.197778  0.557569
1544        -0.463202  0.839851

[1348 rows x 2 columns]
      monthly_charges    tenure
308          0.838541  0.783394
455         -0.044682  0.670482
914          1.551469  0.839851
1420        -1.204993 -1.700684
1557         0.560008  0.783394
104          0.845757  0.839851
169         -0.613292  0.726938
1473        -1.052017  0.839851
1200        -1.209323  0.839851
1451        -1.043358  0.501113
812          1.114187  0.839851
616          1.418697 -0.176363
231          0.215090  0.501113
336          0.254055 -0.515101
783          1.571673  0.839851
186          0.715871  0.049462
211          0.727416  0.614025
651          1.427356  0.839851
1594         1.122846  0.783394
348          0.187669  0.839851
958         -1.209323 -0.628014
1201        -1.031813  0.388200
587          1.049244  0.670482
1123        -1.039028  0.444656
386          0.085204 -2.321703
208         -0.330430  0.388200
1235        -1.011608  0.839851
50           0.731746  0.839851
1686        -1.015938  0.839851
28           0.691337  0.557569
589          1.088210 -0.853839
1446        -1.062119 -1.361946
934          0.834211  0.614025
1512        -1.194891 -0.740926
866          1.470651  0.839851
1680        -1.187675 -1.023208
1595         1.353754  0.839851
559          1.601980  0.839851
808          1.102642  0.105918
629          1.291697 -1.192577
1648        -1.073665 -1.870053
1135        -1.050574 -2.152335
1282        -1.189119 -0.628014
1568         0.238180  0.444656
711          1.092539  0.670482
1182        -1.177573 -0.176363
1179        -1.190562  0.275287
212         -0.040352  0.049462
1371        -1.209323 -0.628014
220          0.171794  0.331744
1224        -1.203550 -2.378160
610          0.223749 -0.119907
504         -0.037466 -1.079664
1192        -1.204993  0.049462
1384        -1.075108  0.726938
1188        -1.215096 -0.628014
742          1.098312  0.670482
238          0.391157 -1.531315
314          0.515270 -0.797383
256         -0.046125 -1.926509
471         -0.049011  0.444656
646          1.565900  0.839851
810          1.098312  0.444656
706          1.245516  0.726938
1150        -1.163141 -0.289276
1676        -1.057790 -2.208791
1340        -1.180459 -1.474859
1126        -1.044801 -1.926509
1328        -1.187675 -0.910295
1032        -1.170357 -1.870053
1573         0.176124 -0.458645
662          1.428799  0.839851
282          0.545576  0.839851
1065        -1.096755 -1.249033
852          1.423026  0.162375
1070        -1.210766  0.614025
1020        -1.015938  0.557569
552         -0.401146  0.501113
1051        -1.047687 -2.603985
1480        -1.184789 -2.773354
1270        -1.030369  0.670482
1406        -1.213652  0.162375
42           0.243953 -0.006994
312          0.101079  0.839851
1210        -1.200664  0.783394
...               ...       ...
719          1.011722  0.783394
1170        -1.216539  0.331744
1165        -1.192005  0.614025
131          0.688451 -0.289276
1493        -1.039028 -2.208791
36           0.127056  0.501113
1187        -1.203550 -1.700684
1408        -1.206437  0.105918
338          0.242510 -0.232820
323         -0.300123  0.557569
821          1.235414  0.839851
301          0.376725  0.388200
1082        -1.193448  0.614025
705          1.414367  0.839851
930          1.379731  0.049462
1362        -1.192005  0.331744
463          0.822666  0.839851
1194        -1.037585  0.726938
95           0.002943  0.162375
703          1.480753  0.839851
1309        -1.031813  0.783394
1119        -1.041915 -2.378160
569          1.280152  0.557569
529          0.714428  0.839851
163          0.516713 -0.628014
527          0.150147  0.839851
1416        -1.176130 -0.006994
1667        -1.215096 -0.289276
1655        -1.196334 -0.289276
632          1.539923  0.839851
1496        -1.179016 -0.345732
1641        -1.168914  0.049462
69           0.552792  0.839851
267          0.528258 -0.402188
206          0.368066 -0.571557
953         -1.187675 -0.458645
1556         0.544133  0.726938
149          0.428679  0.444656
876          1.658263  0.839851
1580         0.564338  0.839851
151          0.140045 -0.458645
76           0.024591  0.218831
1581        -0.235181 -2.039422
171          0.575883 -0.063451
739          1.268607  0.614025
426          0.194885  0.218831
1450        -1.047687 -2.491072
187          0.675462  0.839851
1243        -1.187675 -0.966752
65           0.269930  0.839851
1361        -1.167471 -0.684470
445          0.297351  0.049462
1572         0.002943 -2.434616
341          0.523929  0.670482
1436        -1.197778 -1.136121
320          0.125613  0.839851
223          0.622065  0.614025
173          0.606190  0.839851
48           0.837098  0.783394
324          0.090977  0.839851
1385        -1.041915  0.839851
432          0.697110  0.783394
1681        -1.023154 -1.700684
1175        -1.076551 -2.547529
635          0.802461  0.275287
1576         0.065000  0.331744
1672        -1.197778 -1.136121
332          0.663917  0.049462
1488        -1.026040 -0.289276
1183        -1.193448  0.614025
436          0.695667 -1.079664
999         -1.183346  0.275287
707          1.382617  0.388200
859          1.461992  0.726938
1242        -1.023154  0.839851
822          1.346538 -0.458645
1262        -1.170357 -0.006994
548          0.770712  0.614025
1583        -0.037466  0.839851
5           -0.087977  0.783394
1642        -1.047687  0.162375
462          0.865961 -0.176363
1169        -1.040472 -0.966752
1079        -1.040472  0.557569
1320        -1.044801  0.839851

[337 rows x 2 columns]

In [6]:
X_train=train_scaled
y_train=train[['total_charges']]
X_test=test_scaled
y_test=test[['total_charges']]

### 2)select your features using your features script

In [7]:
features.optimal_number_of_features(X_train,y_train,X_test,y_test)

1

In [8]:
features.optimal_features(X_train,y_train,1)

Index(['monthly_charges'], dtype='object')

In [10]:
y_train

      total_charges
120         3580.95
1423         538.20
389         6376.55
1137         478.75
1504        1797.10
438         6096.90
571         5424.25
656         7939.25
753         7346.20
574         7965.95
1215        1887.00
1053        1697.70
1131        1462.05
1253        1849.20
1031          68.80
772         6465.00
1402         819.95
516         5498.20
1102        1498.35
1694         856.50
1086        1079.45
1517        1573.05
133         4953.25
1036        1258.15
72          1978.65
551         5564.85
1024        1229.10
1432        1092.35
895         6130.85
1460        1014.25
117         6786.10
1115        1416.75
963         1036.00
1553        6045.90
1132        1468.90
1019        1035.50
1683         937.10
607         4513.65
379         6302.85
1112        1414.65
637         7099.00
174         1759.40
858         7028.50
279         3166.90
1533        5878.90
1536        3571.60
892         7839.85
1081        1888.25
1500        1319.95
1622        6910.30
1430        1263.85
190         3886.85
1301         949.80
1157         153.30
286         4464.80
1226         903.70
1040        1663.50
356         5553.25
311         3423.50
970          917.45
390         4089.45
683         6876.05
84          3119.90
353         6520.80
1560        4872.35
658         8317.95
996         1376.50
1181        1051.90
1225        1510.50
875         7998.80
142         4657.95
413         5950.20
1088         883.35
249         4084.35
143         4250.10
602         5971.25
688         7611.85
1584        1662.05
1064        1192.30
993          578.50
310         6369.45
1195         761.95
911         7658.30
675         7532.15
620         7548.60
...             ...
1337        1859.10
945          630.60
51          3409.10
1547        6151.90
1499        1778.70
535         5237.40
1338         692.55
439         4652.40
542         4176.70
700         5231.20
1390        1027.25
1218        1710.90
560         7261.25
1161        1158.85
955          426.65
364         3937.45
1277         274.70
259         2762.75
395         5617.95
725         6849.75
1186        1031.10
376         3334.95
1693        1372.90
1616        6794.75
1654        1654.60
160         5388.15
416         6301.70
1008         428.45
1304        1725.00
489         4720.00
147         1593.10
1427        1468.75
831         7878.30
1452         369.10
848         8436.25
581         4630.20
842         6859.50
1687         916.00
593         6605.55
294         3237.05
1445         705.45
867         7690.90
215         3784.00
1391        1263.90
1212        1769.60
385         6185.80
100         4214.25
1167         499.40
1208        1388.45
509         5265.10
1593        8477.60
601         7611.55
1691        1559.30
39          5430.65
345         5357.75
2           2560.10
456          590.35
1097        1177.95
1241         390.40
613         6944.50
425         6223.80
1286        1789.90
851         6937.95
1372        1211.65
1443        1436.95
112         5730.15
226         2965.75
947         1847.55
1578        3810.80
73          3090.05
47          5212.65
643         6296.75
114         5917.55
97          6562.90
1247        1417.90
1603        8124.20
1155        1441.65
107         3808.20
1629        7459.05
1046        1789.65
1128        1363.25
1355        1110.35
1415        1796.55
1398        1311.30
1544        3139.80

[1348 rows x 1 columns]

### 3)fit 2 different linear models to your data

In [17]:
predictions=pd.DataFrame({'actual':y_train.total_charges}).reset_index(drop=True)
#model 1
lm1=LinearRegression()
lm1.fit(X_train[['monthly_charges']],y_train)
lm1_predictions=lm1.predict(X_train[['monthly_charges']])
predictions['lm1']=lm1_predictions

#model 2
lm2=LinearRegression()
lm2.fit(X_train[['tenure']],y_train)
lm2_predictions=lm2.predict(X_train[['tenure']])
predictions['lm2']=lm2_predictions

#baseline model
predictions['baseline'] = y_train.mean()[0]
#y_pred_baseline

actual      0
lm1         0
lm2         0
baseline    0
dtype: int64

### 4)evaluate the 2 models and your baseline.

In [19]:
MSE_baseline = mean_squared_error(predictions.actual, predictions.baseline)
SSE_baseline = MSE_baseline*len(predictions.actual)
RMSE_baseline = sqrt(MSE_baseline)
r2_baseline = r2_score(predictions.actual, predictions.baseline)
print(MSE_baseline,SSE_baseline,RMSE_baseline,r2_baseline)

6612927.089508685 8914225716.657707 2571.5612163642313 0.0

In [20]:
MSE_1 = mean_squared_error(predictions.actual, predictions.lm1)
SSE_1 = MSE_1*len(predictions.actual)
RMSE_1 = sqrt(MSE_1)
r2_1 = r2_score(predictions.actual, predictions.lm1)
print(MSE_1,SSE_1,RMSE_1,r2_1)

710410.3104002099 957633098.4194828 842.8584165802758 0.8925724870719858

In [21]:
MSE_2 = mean_squared_error(predictions.actual, predictions.lm2)
SSE_2 = MSE_2*len(predictions.actual)
RMSE_2 = sqrt(MSE_2)
r2_2 = r2_score(predictions.actual, predictions.lm2)
print(MSE_2,SSE_2,RMSE_2,r2_2)

3930986.41713009 5298969690.291361 1982.6715353608347 0.40556029668517835

### 5)select the one that performed the best.
The model with monthly charges performed the best

### 6)apply to your test data

In [ ]:
model=lm1.predict(X_test[['monthly_charges']])
model=model.ravel().reshape(337)
y_test=np.array(y_test).ravel().reshape(337)
best_model=pd.DataFrame({'predictions':model,'total_charges':y_test})

best_model.head()

### 7)Write a function that creates the model object, fits and predicts,   given X_train, X_test, y_train, y_test

In [30]:
X_train1=X_train[['monthly_charges']]
X_test1=X_test[['monthly_charges']]
def modeling_function(X_train,X_test,y_train,y_test):
    predictions_train=pd.DataFrame({'actual':y_train.total_charges}).reset_index(drop=True)
    predictions_test=pd.DataFrame({'actual':y_test.total_charges}).reset_index(drop=True)
    #model 1
    lm1=LinearRegression()
    lm1.fit(X_train1,y_train)
    lm1_predictions=lm1.predict(X_train1)
    predictions_train['lm1']=lm1_predictions

    #model 2
    lm2=LinearRegression()
    lm2.fit(X_test1,y_test)
    lm2_predictions=lm2.predict(X_test1)
    predictions_test['lm2']=lm2_predictions
    
    return predictions_train,predictions_test

In [31]:
model_test,model_train=modeling_function(X_train1,X_test1,y_train,y_test)

In [33]:
model_test.head(20)
#model_train.head(20)

     actual          lm1
0   3580.95  2911.298265
1    538.20   881.205753
2   6376.55  5730.286831
3    478.75   891.724367
4   1797.10  1242.344836
5   6096.90  5330.579497
6   5424.25  6438.540177
7   7939.25  7430.796103
8   7346.20  6736.567576
9   7965.95  7322.103758
10  1887.00  1259.875859
11  1697.70  1221.307608
12  1462.05   832.118888
13  1849.20  1214.295198
14    68.80   832.118888
15  6465.00  7381.709237
16   819.95   832.118888
17  5498.20  4881.785298
18  1498.35  1214.295198
19   856.50   846.143706

### 8)Write a function, plot_residuals(x, y, dataframe) that takes the feature, the target, and the dataframe as input and returns a residual plot.

In [ ]:
def plot_residuals(x, y):
    '''
    Plots the residuals of a model that uses x to predict y. Note that we don't
    need to make any predictions ourselves here, seaborn will create the model
    and predictions for us under the hood with the `residplot` function.
    '''
    return sns.residplot(x, y)

x=test[['monthly_charges']]
y=test[['total_charges']]
plot_residuals(x,y)

### 9)Write a function, plot_regression(x, y) that takes a feature and a target and returns the datapoints, the regression line, and the confidence interval.

In [ ]:
res = sm.OLS(y, x).fit()

In [ ]:
res.summary()

In [ ]:
prstd, iv_l, iv_u = wls_prediction_std(res)

fig, ax = plt.subplots(figsize=(8,6))

ax.plot(x, y, 'o', label="data")
#ax.plot(x, y, 'b-', label="True")
ax.plot(x, res.fittedvalues, 'r--.', label="OLS")
ax.plot(x, iv_u, 'r--')
ax.plot(x, iv_l, 'r--')
ax.legend(loc='best');

In [ ]:
def plot_regression(x,y):
    res = sm.OLS(y, x).fit()
    prstd, iv_l, iv_u = wls_prediction_std(res)

    fig, ax = plt.subplots(figsize=(8,6))

    ax.plot(x, y, 'o', label="data")
    #ax.plot(x, y, 'b-', label="True")
    ax.plot(x, res.fittedvalues, 'r--.', label="OLS")
    ax.plot(x, iv_u, 'r--')
    ax.plot(x, iv_l, 'r--')
    ax.legend(loc='best');
    plt.show()

In [ ]:
plot_regression(x,y)