In [2]:
import pandas as pd
import numpy as np

import env

In [3]:
def get_db_url(db):
    return f'mysql+pymysql://{env.user}:{env.password}@{env.host}/{db}'

In [5]:
query = '''
SELECT *
FROM customers
JOIN internet_service_types USING (internet_service_type_id)
WHERE contract_type_id = 3
'''

df = pd.read_sql(query, get_db_url('telco_churn'))

In [8]:
df = df[['customer_id', 'total_charges', 'monthly_charges', 'tenure']]

In [17]:
df.total_charges[255]

' '

In [ ]:
df.total_charges.replace(' ', np.nan)

In [31]:
df.total_charges = df.total_charges.str.strip().replace('', np.nan).astype(float)

/usr/local/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [23]:
(df.total_charges == ' ').sum()

10

In [11]:
df.total_charges.sort_values()

255
236
1431
85
1151
         ...
1228    973.95
1117       978
1172    980.35
1221    982.95
1511    987.95
Name: total_charges, Length: 1695, dtype: object

In [35]:
# look at the entire record where a value is missing
df[df.total_charges.isna()]

     customer_id  total_charges  monthly_charges  tenure
85    1371-DWPAZ            NaN            56.05       0
156   2775-SEFEE            NaN            61.90       0
236   4075-WKNIU            NaN            73.35       0
255   4472-LVYGI            NaN            52.55       0
339   5709-LVOEQ            NaN            80.85       0
1105  2520-SGTTA            NaN            20.00       0
1141  3115-CZMZD            NaN            20.25       0
1151  3213-VVOLG            NaN            25.35       0
1222  4367-NUYAO            NaN            25.75       0
1431  7644-OMVMY            NaN            19.85       0

In [37]:
df = df.dropna()

In [38]:
df.dtypes

customer_id         object
total_charges      float64
monthly_charges    float64
tenure               int64
dtype: object