Zillow
For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a zillow.ipynb file and a helper file for each section in the pipeline.

In [1]:
#ignore warnings
import warnings
warnings.filterwarnings("ignore")

#Wrangling
import pandas as pd
import numpy as np

#Exploring
import scipy.stats as stats

#Visualizing
%matplotlib inline
import seaborn as sns

from aquire_zillow import *
import prepare_zillow
import wrangle_zillow

1)Acquire data from mySQL using the python module to connect and query. You will want to end with a single dataframe. Make sure to include: the logerror, all fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
Only include properties with a transaction in 2017, and include only the last transaction for each properity (so no duplicate property ID's), along with zestimate error and date of transaction.
Only include properties that include a latitude and longitude value.

In [2]:
df_zillow=get_zillow_data()

In [3]:
df_zillow.head()

,basementsqft,bathroomcnt,bedroomcnt,calculatedbathnbr,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,...,taxdelinquencyyear,censustractandblock,logerror,transactiondate,propertylandusedesc,storydesc,typeconstructiondesc,airconditioningdesc,buildingclassdesc,heatingorsystemdesc
0,NaN,3.5,4.0,3.5,NaN,3100.0,3100.0,NaN,NaN,NaN,...,NaN,6.059063e+13,0.025595,2017-01-01,Single Family Residential,None,None,None,None,None
1,NaN,1.0,2.0,1.0,1465.0,1465.0,1465.0,NaN,NaN,1465.0,...,NaN,6.111001e+13,0.055619,2017-01-01,Single Family Residential,None,None,None,None,None
2,NaN,2.0,3.0,2.0,NaN,1243.0,1243.0,NaN,NaN,NaN,...,NaN,6.059022e+13,0.005383,2017-01-01,Single Family Residential,None,None,None,None,None
3,NaN,3.0,4.0,3.0,NaN,2376.0,2376.0,NaN,NaN,NaN,...,NaN,6.037300e+13,-0.103410,2017-01-01,Single Family Residential,None,None,None,None,Central
4,NaN,3.0,3.0,3.0,NaN,1312.0,1312.0,NaN,NaN,NaN,...,NaN,6.037124e+13,0.006940,2017-01-01,Condominium,None,None,Central,None,Central

Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [4]:
df_summary(df_zillow)

--- Info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 52 columns):
basementsqft                    50 non-null float64
bathroomcnt                     77381 non-null float64
bedroomcnt                      77381 non-null float64
calculatedbathnbr               76772 non-null float64
finishedfloor1squarefeet        6023 non-null float64
calculatedfinishedsquarefeet    77185 non-null float64
finishedsquarefeet12            73749 non-null float64
finishedsquarefeet13            41 non-null float64
finishedsquarefeet15            3009 non-null float64
finishedsquarefeet50            6023 non-null float64
finishedsquarefeet6             386 non-null float64
fips                            77381 non-null float64
fireplacecnt                    8276 non-null float64
fullbathcnt                     76772 non-null float64
garagecarcnt                    25474 non-null float64
garagetotalsqft                 25474 non-null float64
hashottuborspa                  1538 non-null float64
latitude                        77381 non-null float64
longitude                       77381 non-null float64
lotsizesquarefeet               69142 non-null float64
poolcnt                         16137 non-null float64
poolsizesum                     867 non-null float64
propertycountylandusecode       77381 non-null object
propertyzoningdesc              50331 non-null object
regionidcity                    75910 non-null float64
regionidcounty                  77381 non-null float64
regionidneighborhood            30890 non-null float64
regionidzip                     77331 non-null float64
roomcnt                         77381 non-null float64
threequarterbathnbr             10096 non-null float64
unitcnt                         50563 non-null float64
yardbuildingsqft17              2388 non-null float64
yardbuildingsqft26              70 non-null float64
yearbuilt                       77118 non-null float64
numberofstories                 17560 non-null float64
fireplaceflag                   172 non-null float64
structuretaxvaluedollarcnt      77269 non-null float64
taxvaluedollarcnt               77380 non-null float64
assessmentyear                  77381 non-null float64
landtaxvaluedollarcnt           77379 non-null float64
taxamount                       77376 non-null float64
taxdelinquencyflag              2886 non-null object
taxdelinquencyyear              2886 non-null float64
censustractandblock             77137 non-null float64
logerror                        77381 non-null float64
transactiondate                 77381 non-null object
propertylandusedesc             77381 non-null object
storydesc                       50 non-null object
typeconstructiondesc            222 non-null object
airconditioningdesc             24953 non-null object
buildingclassdesc               15 non-null object
heatingorsystemdesc             49440 non-null object
dtypes: float64(42), object(10)
memory usage: 30.7+ MB
--- Shape: (77381, 52)
--- Descriptions
        basementsqft   bathroomcnt    bedroomcnt  calculatedbathnbr  \
count      50.000000  77381.000000  77381.000000       76772.000000
unique           NaN           NaN           NaN                NaN
top              NaN           NaN           NaN                NaN
freq             NaN           NaN           NaN                NaN
mean      679.720000      2.299130      3.053489           2.316867
std       689.703546      0.996651      1.139096           0.979755
min        38.000000      0.000000      0.000000           1.000000
25%       273.000000      2.000000      2.000000           2.000000
50%       515.000000      2.000000      3.000000           2.000000
75%       796.500000      3.000000      4.000000           3.000000
max      3560.000000     18.000000     16.000000          18.000000

        finishedfloor1squarefeet  calculatedfinishedsquarefeet  \
count                6023.000000                  77185.000000
unique                       NaN                           NaN
top                          NaN                           NaN
freq                         NaN                           NaN
mean                 1366.512535                   1785.219939
std                   671.308125                    954.049286
min                    44.000000                    128.000000
25%                   955.000000                   1182.000000
50%                  1257.000000                   1543.000000
75%                  1615.000000                   2113.000000
max                  6912.000000                  35640.000000

        finishedsquarefeet12  finishedsquarefeet13  finishedsquarefeet15  \
count           73749.000000             41.000000           3009.000000
unique                   NaN                   NaN                   NaN
top                      NaN                   NaN                   NaN
freq                     NaN                   NaN                   NaN
mean             1760.522543           1389.853659           2357.791625
std               934.024340            123.531688           1188.775210
min               128.000000           1056.000000            598.000000
25%              1172.000000           1344.000000           1625.000000
50%              1523.000000           1440.000000           2094.000000
75%              2076.000000           1440.000000           2838.000000
max             21929.000000           1560.000000          35640.000000

        finishedsquarefeet50  ...  taxdelinquencyyear  censustractandblock  \
count            6023.000000  ...         2886.000000         7.713700e+04
unique                   NaN  ...                 NaN                  NaN
top                      NaN  ...                 NaN                  NaN
freq                     NaN  ...                 NaN                  NaN
mean             1381.771542  ...           14.087318         6.049673e+13
std               726.468878  ...            2.185663         1.535242e+12
min                44.000000  ...            3.000000         6.037101e+13
25%               956.000000  ...           14.000000         6.037311e+13
50%              1259.000000  ...           15.000000         6.037603e+13
75%              1621.500000  ...           15.000000         6.059042e+13
max             12467.000000  ...           99.000000         4.830301e+14

            logerror  transactiondate        propertylandusedesc  storydesc  \
count   77381.000000            77381                      77381         50
unique           NaN              265                         13          1
top              NaN       2017-06-30  Single Family Residential   Basement
freq             NaN             1189                      52320         50
mean        0.016625              NaN                        NaN        NaN
std         0.170191              NaN                        NaN        NaN
min        -4.655420              NaN                        NaN        NaN
25%        -0.024377              NaN                        NaN        NaN
50%         0.006627              NaN                        NaN        NaN
75%         0.039203              NaN                        NaN        NaN
max         5.262999              NaN                        NaN        NaN

        typeconstructiondesc  airconditioningdesc  \
count                    222                24953
unique                     4                    5
top                    Frame              Central
freq                     219                23133
mean                     NaN                  NaN
std                      NaN                  NaN
min                      NaN                  NaN
25%                      NaN                  NaN
50%                      NaN                  NaN
75%                      NaN                  NaN
max                      NaN                  NaN

                                     buildingclassdesc  heatingorsystemdesc
count                                               15                49440
unique                                               2                   10
top     Buildings having wood or wood and steel frames              Central
freq                                                14                33550
mean                                               NaN                  NaN
std                                                NaN                  NaN
min                                                NaN                  NaN
25%                                                NaN                  NaN
50%                                                NaN                  NaN
75%                                                NaN                  NaN
max                                                NaN                  NaN

[11 rows x 52 columns]
--- Value Counts

(34.477000000000004, 390.2]                                                                                                                                                                                                                   20
(390.2, 742.4]                                                                                                                                                                                                                                16
(742.4, 1094.6]                                                                                                                                                                                                                                7
(1094.6, 1446.8]                                                                                                                                                                                                                               3
(1446.8, 1799.0]                                                                                                                                                                                                                               0
(1799.0, 2151.2]                                                                                                                                                                                                                               2
(2151.2, 2503.4]                                                                                                                                                                                                                               0
(2503.4, 2855.6]                                                                                                                                                                                                                               0
(2855.6, 3207.8]                                                                                                                                                                                                                               1
(3207.8, 3560.0]                                                                                                                                                                                                                               1
(-0.019, 1.8]                                                                                                                                                                                                                              14909
(1.8, 3.6]                                                                                                                                                                                                                                 56436
(3.6, 5.4]                                                                                                                                                                                                                                  5073
(5.4, 7.2]                                                                                                                                                                                                                                   801
(7.2, 9.0]                                                                                                                                                                                                                                   150
(9.0, 10.8]                                                                                                                                                                                                                                    7
(10.8, 12.6]                                                                                                                                                                                                                                   3
(12.6, 14.4]                                                                                                                                                                                                                                   1
(14.4, 16.2]                                                                                                                                                                                                                                   0
(16.2, 18.0]                                                                                                                                                                                                                                   1
(-0.017, 1.6]                                                                                                                                                                                                                               4209
(1.6, 3.2]                                                                                                                                                                                                                                 49531
(3.2, 4.8]                                                                                                                                                                                                                                 17513
(4.8, 6.4]                                                                                                                                                                                                                                  5541
(6.4, 8.0]                                                                                                                                                                                                                                   460
(8.0, 9.6]                                                                                                                                                                                                                                    70
(9.6, 11.2]                                                                                                                                                                                                                                   39
(11.2, 12.8]                                                                                                                                                                                                                                  14
(12.8, 14.4]                                                                                                                                                                                                                                   3
(14.4, 16.0]                                                                                                                                                                                                                                   1
                                                                                                                                                                                                                                           ...
Triplex (3 Units, Any Combination)                                                                                                                                                                                                           535
Cluster Home                                                                                                                                                                                                                                 333
Mobile Home                                                                                                                                                                                                                                   74
Manufactured, Modular, Prefabricated Homes                                                                                                                                                                                                    58
Residential General                                                                                                                                                                                                                           37
Cooperative                                                                                                                                                                                                                                   29
Commercial/Office/Residential Mixed Used                                                                                                                                                                                                      15
Townhouse                                                                                                                                                                                                                                      6
Basement                                                                                                                                                                                                                                      50
Frame                                                                                                                                                                                                                                        219
Masonry                                                                                                                                                                                                                                        1
Concrete                                                                                                                                                                                                                                       1
Metal                                                                                                                                                                                                                                          1
Central                                                                                                                                                                                                                                    23133
Yes                                                                                                                                                                                                                                         1574
None                                                                                                                                                                                                                                         167
Wall Unit                                                                                                                                                                                                                                     53
Refrigeration                                                                                                                                                                                                                                 26
Buildings having wood or wood and steel frames                                                                                                                                                                                                14
Buildings having exterior walls built of a non-combustible material such as brick, concrete, block or poured concrete. Interior partitions and roof structures are built of combustible materials. Floor may be concrete or wood frame.        1
Central                                                                                                                                                                                                                                    33550
Floor/Wall                                                                                                                                                                                                                                 14065
Yes                                                                                                                                                                                                                                          846
Forced air                                                                                                                                                                                                                                   776
Solar                                                                                                                                                                                                                                        104
None                                                                                                                                                                                                                                          59
Radiant                                                                                                                                                                                                                                       23
Baseboard                                                                                                                                                                                                                                     13
Gravity                                                                                                                                                                                                                                        3
Heat Pump                                                                                                                                                                                                                                      1
Length: 2703, dtype: int64

Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [5]:
nulls_by_col(df_zillow)

                              num_rows_missing  pct_rows_missing
basementsqft                             77331          0.999354
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
calculatedbathnbr                          609          0.007870
finishedfloor1squarefeet                 71358          0.922164
calculatedfinishedsquarefeet               196          0.002533
finishedsquarefeet12                      3632          0.046937
finishedsquarefeet13                     77340          0.999470
finishedsquarefeet15                     74372          0.961114
finishedsquarefeet50                     71358          0.922164
finishedsquarefeet6                      76995          0.995012
fips                                         0          0.000000
fireplacecnt                             69105          0.893049
fullbathcnt                                609          0.007870
garagecarcnt                             51907          0.670798
garagetotalsqft                          51907          0.670798
hashottuborspa                           75843          0.980124
latitude                                     0          0.000000
longitude                                    0          0.000000
lotsizesquarefeet                         8239          0.106473
poolcnt                                  61244          0.791460
poolsizesum                              76514          0.988796
propertycountylandusecode                    0          0.000000
propertyzoningdesc                       27050          0.349569
regionidcity                              1471          0.019010
regionidcounty                               0          0.000000
regionidneighborhood                     46491          0.600806
regionidzip                                 50          0.000646
roomcnt                                      0          0.000000
threequarterbathnbr                      67285          0.869529
unitcnt                                  26818          0.346571
yardbuildingsqft17                       74993          0.969140
yardbuildingsqft26                       77311          0.999095
yearbuilt                                  263          0.003399
numberofstories                          59821          0.773071
fireplaceflag                            77209          0.997777
structuretaxvaluedollarcnt                 112          0.001447
taxvaluedollarcnt                            1          0.000013
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        2          0.000026
taxamount                                    5          0.000065
taxdelinquencyflag                       74495          0.962704
taxdelinquencyyear                       74495          0.962704
censustractandblock                        244          0.003153
logerror                                     0          0.000000
transactiondate                              0          0.000000
propertylandusedesc                          0          0.000000
storydesc                                77331          0.999354
typeconstructiondesc                     77159          0.997131
airconditioningdesc                      52428          0.677531
buildingclassdesc                        77366          0.999806
heatingorsystemdesc                      27941          0.361083

4)Write a function that takes in a dataframe and returns a dataframe with 3 columns: the number of columns missing, percent of columns missing, and number of rows with n columns missing. Run the function and document takeaways from this on how you want to handle missing values

In [6]:
nulls_by_row(df_zillow)

   num_cols_missing    pct_cols_missing  num_rows
0                15  28.846153846153843         6
1                16   30.76923076923077        46
2                17   32.69230769230769       244
3                18   34.61538461538461       482
4                19   36.53846153846153      1074
5                20   38.46153846153847      2661
6                21   40.38461538461539      8762
7                22   42.30769230769231     14752
8                23  44.230769230769226     24003
9                24   46.15384615384615     17749
10               25   48.07692307692308      4658
11               26                50.0      2163
12               27   51.92307692307693       323
13               28   53.84615384615385       237
14               29  55.769230769230774        30
15               30  57.692307692307686        24
16               31   59.61538461538461        27
17               32   61.53846153846154        79
18               33   63.46153846153846        50
19               34   65.38461538461539         5
20               35    67.3076923076923         3
21               36   69.23076923076923         3

1)Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer. But for this exercise, do not purely filter by unitcnt as we did previously. Add some new logic that will reduce the number of properties that are falsely removed. You might want to use # bedrooms, square feet, unit type or the like to then identify those with unitcnt not defined.

In [7]:
df_zillow=prepare_zillow.zillow_single_unit()

In [8]:
df_zillow.head()

,basementsqft,bathroomcnt,bedroomcnt,calculatedbathnbr,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,...,taxdelinquencyyear,censustractandblock,logerror,transactiondate,propertylandusedesc,storydesc,typeconstructiondesc,airconditioningdesc,buildingclassdesc,heatingorsystemdesc
3,NaN,3.0,4.0,3.0,NaN,2376.0,2376.0,NaN,NaN,NaN,...,NaN,6.037300e+13,-0.103410,2017-01-01,Single Family Residential,None,None,None,None,Central
6,NaN,3.0,4.0,3.0,NaN,2962.0,2962.0,NaN,NaN,NaN,...,NaN,6.037461e+13,-0.001011,2017-01-01,Single Family Residential,None,None,Central,None,Central
7,NaN,1.0,2.0,1.0,NaN,738.0,738.0,NaN,NaN,NaN,...,NaN,6.037302e+13,0.101723,2017-01-01,Single Family Residential,None,None,None,None,None
8,NaN,3.0,4.0,3.0,NaN,3039.0,3039.0,NaN,NaN,NaN,...,NaN,6.037500e+13,-0.040966,2017-01-02,Single Family Residential,None,None,None,None,Central
10,NaN,3.0,4.0,3.0,NaN,2540.0,2540.0,NaN,NaN,NaN,...,NaN,6.037920e+13,0.005963,2017-01-02,Single Family Residential,None,None,Central,None,Central

In [9]:
#Set has been reduced to 33,734 records
df_zillow.shape

(33734, 52)

Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

The input:
A dataframe
A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
The output:
The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
hint:
Look up the dropna documentation.
You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.
Make use of inplace, i.e. inplace=True/False.

In [10]:
df_zillow=prepare_zillow.handle_missing_values(df_zillow)

In [11]:
df_zillow.head()

,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,propertylandusedesc,heatingorsystemdesc
3,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,-118240722.0,13038.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Single Family Residential,Central
6,3.0,4.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,-118179824.0,63000.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,Single Family Residential,Central
7,1.0,2.0,1.0,738.0,738.0,6037.0,1.0,34149214.0,-118239357.0,4214.0,...,18890.0,218552.0,2016.0,199662.0,2366.08,6.037302e+13,0.101723,2017-01-01,Single Family Residential,None
8,3.0,4.0,3.0,3039.0,3039.0,6037.0,3.0,33960230.0,-118006914.0,20028.0,...,177527.0,220583.0,2016.0,43056.0,3104.19,6.037500e+13,-0.040966,2017-01-02,Single Family Residential,Central
10,3.0,4.0,3.0,2540.0,2540.0,6037.0,3.0,34434971.0,-118464390.0,10384.0,...,271715.0,430108.0,2016.0,158393.0,6103.36,6.037920e+13,0.005963,2017-01-02,Single Family Residential,Central

In [12]:
#set has been reduced from 52 to 28 columns
df_zillow.shape

(33734, 28)

Decide how to handle the remaining missing values:

Fill with constant value.
Impute with mean, median, mode.
Drop row/column

In [14]:
#We will drop the remaining missing values
df_zillow.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33734 entries, 3 to 77380
Data columns (total 28 columns):
bathroomcnt                     33734 non-null float64
bedroomcnt                      33734 non-null float64
calculatedbathnbr               33713 non-null float64
calculatedfinishedsquarefeet    33733 non-null float64
finishedsquarefeet12            33733 non-null float64
fips                            33734 non-null float64
fullbathcnt                     33713 non-null float64
latitude                        33734 non-null float64
longitude                       33734 non-null float64
lotsizesquarefeet               33428 non-null float64
propertycountylandusecode       33734 non-null object
propertyzoningdesc              33667 non-null object
regionidcity                    33040 non-null float64
regionidcounty                  33734 non-null float64
regionidzip                     33722 non-null float64
roomcnt                         33734 non-null float64
unitcnt                         33734 non-null float64
yearbuilt                       33725 non-null float64
structuretaxvaluedollarcnt      33674 non-null float64
taxvaluedollarcnt               33734 non-null float64
assessmentyear                  33734 non-null float64
landtaxvaluedollarcnt           33734 non-null float64
taxamount                       33730 non-null float64
censustractandblock             33673 non-null float64
logerror                        33734 non-null float64
transactiondate                 33734 non-null object
propertylandusedesc             33734 non-null object
heatingorsystemdesc             33216 non-null object
dtypes: float64(23), object(5)
memory usage: 7.5+ MB

In [17]:
df_zillow.dropna(inplace=True)
df_zillow.head()

,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,propertylandusedesc,heatingorsystemdesc
3,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,-118240722.0,13038.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Single Family Residential,Central
6,3.0,4.0,3.0,2962.0,2962.0,6037.0,3.0,34145202.0,-118179824.0,63000.0,...,276684.0,773303.0,2016.0,496619.0,9516.26,6.037461e+13,-0.001011,2017-01-01,Single Family Residential,Central
8,3.0,4.0,3.0,3039.0,3039.0,6037.0,3.0,33960230.0,-118006914.0,20028.0,...,177527.0,220583.0,2016.0,43056.0,3104.19,6.037500e+13,-0.040966,2017-01-02,Single Family Residential,Central
10,3.0,4.0,3.0,2540.0,2540.0,6037.0,3.0,34434971.0,-118464390.0,10384.0,...,271715.0,430108.0,2016.0,158393.0,6103.36,6.037920e+13,0.005963,2017-01-02,Single Family Residential,Central
18,1.0,2.0,1.0,1146.0,1146.0,6037.0,1.0,34024040.0,-118159090.0,4657.0,...,127960.0,273745.0,2016.0,145785.0,3739.02,6.037532e+13,-0.035085,2017-01-02,Single Family Residential,Floor/Wall

4)wrangle_zillow.py
Functions of the work above needed to acquire and prepare a new sample of data.

In [18]:
df_zillow=wrangle_zillow.wrangle_zillow_data()

In [19]:
df_zillow.head()

,bathroomcnt,bedroomcnt,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fullbathcnt,latitude,longitude,lotsizesquarefeet,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock,logerror,transactiondate,propertylandusedesc,heatingorsystemdesc
0,3.5,4.0,3.5,3100.0,3100.0,6059.0,3.0,33634931.0,-117869207.0,4506.0,...,485713.0,1023282.0,2016.0,537569.0,11013.72,6.059063e+13,0.025595,2017-01-01,Single Family Residential,None
1,1.0,2.0,1.0,1465.0,1465.0,6111.0,1.0,34449266.0,-119281531.0,12647.0,...,88000.0,464000.0,2016.0,376000.0,5672.48,6.111001e+13,0.055619,2017-01-01,Single Family Residential,None
2,2.0,3.0,2.0,1243.0,1243.0,6059.0,2.0,33886168.0,-117823170.0,8432.0,...,85289.0,564778.0,2016.0,479489.0,6488.30,6.059022e+13,0.005383,2017-01-01,Single Family Residential,None
3,3.0,4.0,3.0,2376.0,2376.0,6037.0,3.0,34245180.0,-118240722.0,13038.0,...,108918.0,145143.0,2016.0,36225.0,1777.51,6.037300e+13,-0.103410,2017-01-01,Single Family Residential,Central
4,3.0,3.0,3.0,1312.0,1312.0,6037.0,3.0,34185120.0,-118414640.0,278581.0,...,73681.0,119407.0,2016.0,45726.0,1533.89,6.037124e+13,0.006940,2017-01-01,Condominium,Central